
@import "./layouts/header";
@import "./layouts/body";

@import "./utils/varialbes";
@import "./utils/mixin";


.top__localisation {
    color: $clr-txt-alt;
    background:  linear-gradient($bg-loc1 0%, $bg-loc2 10%);
    font-weight: bold;

    @include flex-center;
        
    padding: 3px 0;

    p {
        position: relative;
    }

    i {
        position: absolute;  /*pour pas qu'il rentre dans le calcul du centrage*/
        left: -30px;
    }
}

main {
    padding: 30px 10px;
    text-align: center; 
    @include flex-center;
    flex-direction: column;
    background: $bg-bloc;

    h2 {
        margin: 0 auto;
        padding: 0 50px;
    }

    p {
        color: $clr-txt-alt2;
        font-size: 1.1em;
    }

    .button-main {
        @include button-main;
    }
}


.fonctionnement {
    @include section;

    &__bloc {
        @include box;
        align-items: center;
        background: $bg-bloc; 
        position: relative;
        padding: 10px 0;
        margin-left: 12px;    /*pour compenser le chiffre*/
        font-weight: bold;

        i {
            padding: 0 30px;
            color: $clr-txt-alt2;
            font-size: 1.2em;
            
        }   

        &__chiffre {
            color: white;
            background: $clr-prim;
            font-weight: lighter;
            padding: 2px 7px;   
            border-radius: 50%;
    
            position: absolute;
            left : -13px;
        }

        &:hover {
            background: lighten($color: $clr-prim, $amount: 35);
            i {
                color: $clr-prim;
            }
        }
    }
}

.restaurant {
    @include section;
    background: $bg-bloc;
    display: flex;
    flex-direction: column;

    &__bloc {
        @include box;
        flex-direction: column;
        
        background: white;
        position: relative;
        img {
            width: auto;
            height: 180px;
            object-fit: cover;
        
            border-top-left-radius: $rad-bloc $rad-bloc;
            border-top-right-radius: $rad-bloc $rad-bloc;
        }

        &__texte {
            padding-left: $pad-txt-bloc;
            line-height: 22px;
        }

        &__coeur {
            @include coeur; 
 
        }
        
        &__coeur--actif {
            @include coeur;
            background: -webkit-linear-gradient($clr-prim, $clr-sec);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            opacity: 0;
        }

        &__coeur--actif:hover {
            transform: scale(1.2);
            opacity: 1;
            transition: all 100ms;
        }

        &__nouveau {
            background: $clr-ter;
            color: darken($color: $clr-ter, $amount: 40);
            font-weight: bold;
            font-size: 0.9em;
            border-radius: 3px 3px;
            

            position: absolute;
            top : 0px;
            right: 10px;
            padding: 7px 12px;
        }
    }
}

/*-----------------Centrage des images --------------------*/

.restaurant__bloc--stil img{
    object-position: 50% 62%;
}

.restaurant__bloc--jay img {
    object-position: 0% 70%;
}


.restaurant__bloc--louis img {
    object-position: 50% 100%;
}

.restaurant__bloc--toa img {
    object-position: 0% 100%;
}

