@import "../layouts/body";
@import "../layouts/_header";
@import "../layouts/footer";

@import "../utils/_mixin";
@import "../utils/varialbes";


.image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

header {
    background: white;
}

body {
    background: $bg-bloc; /*pour éviter d'avoir l'espace blanc du au decalage du bloc main*/
}

main {
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;

    padding : 10px $marge;
    position: relative;
    top: -50px;

    background: $bg-bloc; /*important de le laisser pour que ca passe sur l'image*/

    h1 {
        font-size: 1.7em;
        margin-bottom: 0;
    }

    .main__titre {
        position: relative;
       
        &__coeur {
            @include coeur; /*absolute + couleur*/
            bottom: 10px;
            right: 15px;
        }
        &__coeur--actif {
            @include coeur;
            bottom: 10px;
            right: 15px;

            @include coeur-bg-actif;  /* transparent + couleurdégradée*/
        }
        &__coeur--actif:hover {
            
            @include coeur-actif-hover;
        }
    }
}

.menu {
    margin: 40px 0;

    &__titre {
        font-weight: lighter;
        font-size: 1.1em;
        color: $clr-txt-alt;
        text-transform: uppercase;  

        margin-bottom: 7px;
    }

    &__under {
        height: 3px;
        width: 15%;
        background: $clr-ter;
    }

    &__anim {
        animation: menu 900ms forwards;
        transform-origin: top ; 
    }
}

.menu__compo {

    @include box;
    justify-content: space-between;  
    background: white;
    text-decoration: none;

    overflow: hidden;

    p {
        font-size: 0.9em;
        margin: 0;  /*pour pas géner l'effet*/
        color: $clr-txt-alt;
        line-height: 23px; 
        padding: 12px;     /*contour*/
        padding-right: 0;   /*pou pas qu'il y ai un retour à la ligne*/
    }

    &--black {
        font-size: 1.1em;
        color: black;
    }

    &__prix {   /* bloc prix + check*/
        display: flex;
        
        p {
            align-self: flex-end;   /*mettre le prix en bas*/
        }
    }

    &__check {
        display: flex;
        align-items: center;  /*icon centrée*/
        margin-left: 20px;   /*espace avec le prix*/
        
        i{
          font-size: 0;   /*pour que le bloc prenne pas d'espace*/
          color: white;
        }

        border-bottom-right-radius: $rad-bloc $rad-bloc;
        border-top-right-radius: $rad-bloc $rad-bloc;
        background-color: $clr-ter;
    }

    &:hover {
        cursor: pointer;
        & > .menu__compo__prix{
            animation: slide 500ms forwards;
            
            i {
                font-size: 1.3em;
                padding: 0 17px;
                transform: rotate(1turn);
                transition: transform 700ms;
            }
        }  
    }
}

@keyframes slide {
    from {
        transform: translateX(60px);  /*même que le décalage plus haut*/
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes menu {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.button {
    @include flex-center;

    &__main {
        @include button-main;
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media all and (min-device-width: 720px) {
    .image img{
        width: 600px;
        height: 400px;
        @include box;

        margin-bottom: 30px;
    }

    .image {
        @include flex-center;
    }

    main {
        width: $largeur-pc;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        top : 0px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .main__titre--pc {
            width: 100%;
            @include flex-center;
        }

        .main__titre {
            width: 370px;  /*à agrandir si tu as un nouveau menu plus long*/
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .menu {
        margin: auto 10px;
        &__compo {
            width: 400px;
        }
    }

    .button {
        width: 100%;
    }


    body {
        background: white;
    }

    footer {
        width: $largeur-pc;
        margin: auto;
        padding : 15px 0;
    }

    header { 
        .fleche {
            left: 90px;
            font-size: 1.5em;
        }
    }
}