@mixin button-main {
    color: white;
    background: linear-gradient(-10deg,$clr-prim 10% ,$clr-sec); /*-15 deg ca met l'origine, en bas à droite. -5deg ca la met dessous, -30deg ca la met à droite*/
    box-shadow: 1px 5px 5px $bg-loc1;

    
    
    padding: 15px 20px;
    border-radius: 40px 40px;
    margin : 20px 0;

    position: relative;
    z-index: 1;

    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: transform 200ms;

        &::after {
            opacity: 1;
            transition: opacity 200ms;
        }
    }

    &::after {
        content: ""; 

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background : linear-gradient(-10deg,$clr-sec 10% ,$clr-prim);
        border-radius: 40px 40px;
        opacity: 0;
        z-index: -1;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin section {   /*section de page main*/
    padding: 50px $marge;
    
    h2 {
        margin-top : 0;
        margin-bottom: 25px;
    }
    
}

@mixin box {  /*box de la page main*/
    display: flex;

    border-radius: $rad-bloc $rad-bloc;
    box-shadow: 1px 3px 7px $bg-loc1;
    margin : 20px 0;
}


@mixin coeur {
    font-size: 1.3em;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

@mixin coeur-bg-actif {
    background: -webkit-linear-gradient($clr-prim, $clr-sec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
}

@mixin coeur-actif-hover {
    transform: scale(1.2);
    opacity: 1;
    transition: all 50ms;
}