$clr-prim : #9356DC;
$clr-sec : #FF79DA;
$clr-ter : #99E2D0;

$clr-txt : #000;



/*------  Acueil ----*/

$bg-loc1 :  lighten($color: $clr-txt, $amount: 80);
$bg-loc2 :  lighten($color: $clr-txt, $amount: 93);