$clr-prim : #9356DC;
$clr-sec : #FF79DA;
$clr-ter : #99E2D0;

$clr-txt : #000;
$clr-txt-alt : lighten($color: $clr-txt, $amount: 20);
$clr-txt-alt2 : lighten($color: $clr-txt, $amount: 50);

$bg-bloc : #F6F6F6;


/*------  Acueil ----*/

$bg-loc1 :  lighten($color: $clr-txt, $amount: 80);
$bg-loc2 :  lighten($color: $clr-txt, $amount: 93);