$clr-prim : #9356DC;
$clr-sec : #FF79DA;
$clr-ter : #99E2D0;

$clr-txt : #000;
$clr-txt-alt : lighten($color: $clr-txt, $amount: 20);
$clr-txt-alt2 : lighten($color: $clr-txt, $amount: 50);
$clr-txt-alt3 : lighten($color: $clr-txt, $amount: 85); /*footer*/

$bg-bloc : #F6F6F6;


$marge : 23px;


/*------  Acueil ----*/

$bg-loc1 :  lighten($color: $clr-txt, $amount: 80);
$bg-loc2 :  lighten($color: $clr-txt, $amount: 93);


$pad-txt-bloc : 12px;
$rad-bloc : 15px;