@import "../utils/mixin";

footer {
    padding: 20px $marge;
    background: $clr-txt-alt;
    
    h1 {
        margin : 5px 0;
        font-size: 1.2em;
        text-align: left;
        font-weight: 100;
    }

    .footer__titre {
        color: white; 
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        padding: 3px 0;  /*espace entre les lignes*/

        i {
            padding-right: 10px;
            font-size: 0.9em;
        }
    }

    a {
        color: $clr-txt-alt3;
        
        &:hover {
            color: white;
        }
    }
}

@media all and (min-device-width: 720px)  {
    
    footer {

        h1 {
            text-align: center;
            font-size: 2em;
        }

        ul {
            @include flex-center;
        }

        li {
            margin-right: 30px;
        }
    }
}