@import "../utils/_varialbes";

header {
    background: white;
    
    h1 {
        text-align: center;
        padding-top: 20px;   /*pour avoir le backroung blanc tu utilies un padding*/
        padding-bottom: 10px;
        margin :0;
    
        font-weight: lighter;
    }
    
    .fleche {
        position: absolute;
        top: 33px;
        left: 30px;

        color: $clr-txt-alt;
        font-size: 1.2em;
        font-weight: bold;
    }
}


@media all and (min-device-width: 720px) {
    h1 {
        font-size: 3em;
    }
}