@import "../utils/_varialbes";

header {
    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    
        font-weight: lighter;
    }
    
    .fleche {
        position: absolute;
        top: 33px;
        left: 30px;

        color: $clr-txt-alt;
        font-size: 1.2em;
        font-weight: bold;
    }
}
