@import "../layouts/body";
@import "../layouts/_header";
@import "../layouts/_footer";

@import "../utils/mixin";
@import "../utils/_varialbes";


.image img {
    width: auto;
    height: 250px;
    object-fit: cover;
}

main {
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;

    padding : 10px $marge;
    position: relative;
    top: -50px;

    background: $bg-bloc;

    h1 {
        font-size: 1.8em;
        margin-bottom: 0;
    }

    .main__titre {
        position: relative;
       
        .main__titre__coeur {
            @include coeur;
            bottom: 10px;
        }
        .main__titre__coeur--actif {
            @include coeur;
            bottom: 10px;

            @include coeur-bg-actif;
        }
        .main__titre__coeur--actif:hover {
            
            @include coeur-actif-hover;
        }
    }
}


.menu {
    margin: 40px 0;

    &__titre {
        font-weight: lighter;
        font-size: 1.1em;
        color: $clr-txt-alt;
        text-transform: uppercase;  

        margin-bottom: 7px;
    }

    &__under {
        height: 3px;
        width: 15%;
        background: $clr-ter;
    }

    &__anim {
        animation: menu 500ms forwards;
        transform-origin: top ; 
    }
}

.menu__compo {
    

    @include box;
    justify-content: space-between;  
    color: $clr-txt;
    background: white;
    text-decoration: none;

    overflow: hidden;

    p {
        font-size: 0.9em;
        margin: 0;  /*pour pas géner l'effet*/
        color: $clr-txt-alt;
        line-height: 23px; 
        padding: 12px;     /*contour*/
        padding-right: 0;   /*pou pas qu'il y ai un retour à la ligne*/
    }

    &--black {
        font-size: 1.1em;
        color: black;
    }

    &__prix {   /* bloc prix + check*/
        display: flex;
        p {
            align-self: flex-end;   /*mettre le prix en bas*/
        }
    }

    &__check {
        display: flex;
        align-items: center;  /*icon centrée*/
        margin-left: 20px;   /*espace avec le prix*/
        
        i{
          font-size: 0;   /*pour que le bloc prenne pas d'espace*/
          color: white;
        }

        border-bottom-right-radius: $rad-bloc $rad-bloc;
        border-top-right-radius: $rad-bloc $rad-bloc;
        background-color: $clr-ter;
    }

    &:hover {
        & > .menu__compo__prix{
            animation: slide 500ms forwards;
            
            i {
                font-size: 1.3em;
                padding: 0 17px;
                transform: rotate(1turn);
                transition: transform 700ms;
            }
        }  
    }
}

@keyframes slide {
    from {
        transform: translateX(60px);  /*même que le décalage plus haut*/
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes menu {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.button {
    @include flex-center;
    margin-bottom: 200px;


    &__main {
        @include button-main;
        padding-right: 50px;
        padding-left: 50px;
    }
}

footer {
    position: absolute;
    bottom: -1110px;
    right: 0;
    left: 0;
}
