@import "../layouts/body";
@import "../layouts/_header";
@import "../layouts/_footer";

@import "../utils/_mixin";
@import "../utils/varialbes";


.image img {
    width: auto;
    height: 250px;
    object-fit: cover;
}

main {
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;

    padding : 10px $marge;
    position: relative;
    top: -50px;

    height: 500px;

    background: $bg-bloc;

    h1 {
        font-size: 1.8em;
    }

    .main__titre {
        position: relative;
       
        .main__titre__coeur {
            @include coeur;
            bottom: 10px;
        }
        .main__titre__coeur--actif {
            @include coeur;
            bottom: 10px;

            @include coeur-bg-actif;
        }
        .main__titre__coeur--actif:hover {
            @include coeur-actif-hover;
        }
    }
}


.menu {

    &__titre {
        font-weight: lighter;
        font-size: 1.1em;
        color: $clr-txt-alt;
        text-transform: uppercase;  

        margin-bottom: 7px;
    }

    &__under {
        height: 3px;
        width: 15%;
        background: $clr-ter;
    }
}

.menu__compo {
    @include box;
    justify-content: space-between;
    align-items: flex-end;
    
    padding: 12px; 
    
    color: $clr-txt;
    background: white;
    text-decoration: none;

    p {
        margin: 0;
        color: $clr-txt-alt;
        line-height: 23px; 
    }

    &--black {
        color: black;
    }

}
